**Harry's Notebook for Final Project**

I am using the data set Median Age at Death for each Neighborhood in Alleghany County as my submetric for determing the best neighborhood in Pittsburgh. I chose this because median death age increases with increased development. Western countries have higher death ages than non-Western countries. There is a correlation between death age and development which I would like to explore in Alleghany County.

My submetric will look at the median death age by neighborhood and rank them highest death age to lowest. The death age will be itself for each neighborhood will be used as a score that will contribute to the main metric by:

In [51]:
import pandas as pd 
import numpy as np
%matplotlib inline
data = pd.read_csv('mediandeathage.csv')

First I will get the max and the min of the total median age at death, but must frist place 0 for all Nan values and remove neighborhoods who don't have data
After finding the max and min I used them to find a range of values so that I could scale all the total median age at death values from 0-100 as my submetric. The higher the score on the submetric indicates the higher the median death age in relation to the other neighborhoods in Pittsburgh.

In [53]:
data.fillna(0, inplace=True)
index = 1


for index, row in data.iterrows():
    if row['TOTAL MD AGE AT DEATH']=="0":
        data = data.drop([index])
    if row['TOTAL MD AGE AT DEATH']==0:
        data = data.drop([index])
    index = index + 1

min = 100
for index, row in data.iterrows():
    if row['TOTAL MD AGE AT DEATH']< min:
        min = row['TOTAL MD AGE AT DEATH']

max = 0
for index, row in data.iterrows():
    if row['TOTAL MD AGE AT DEATH']> max:
        max = row['TOTAL MD AGE AT DEATH']
    
range = max-min
list = []
for index, row in data.iterrows():
    value = ((row['TOTAL MD AGE AT DEATH']-53.3)/range)*100
    list.append(value)
    
data['Submetric'] = list
data = data.sort_values(by=['Submetric'], ascending=False)
data.head(10)

,NEIGHBORHOOD,BLACKdeaths,Black MD AGE AT DEATH,WHITEdeaths,White MD AGE AT DEATH,TOTALdeaths*,TOTAL MD AGE AT DEATH,Submetric
89,SQUIRREL HILL SOUTH,58.0,83.2,721.0,86.2,802.0,85.9,100.000000
76,NORTH OAKLAND,45.0,70.9,227.0,86.8,279.0,85.6,99.079755
71,BANKSVILLE,4.0,0.0,247.0,85.5,253.0,85.5,98.773006
53,POINT BREEZE,13.0,66.7,158.0,85.7,175.0,85.1,97.546012
68,SQUIRREL HILL NORTH,6.0,75.0,231.0,85.3,242.0,85.0,97.239264
20,CENTRAL OAKLAND,2.0,0.0,50.0,84.0,52.0,84.0,94.171779
28,NEW HOMESTEAD,4.0,0.0,67.0,83.8,71.0,83.4,92.331288
27,SWISSHELM PARK,0.0,0.0,67.0,83.1,67.0,83.1,91.411043
77,OVERBROOK,4.0,0.0,284.0,82.5,289.0,82.2,88.650307
83,SHADYSIDE,72.0,81.2,320.0,82.4,406.0,82.1,88.343558

Looking at the table we can see the top 10 neighborhoods in Pittsburgh according to just my submetric!

I will use my created submetric to contribute to the overall metric our group construcuts to determine the best neighborhood in Pittsburgh